* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #080808;
    color: white;
}

p {
    color: #bbb;
}

a {
    text-decoration: none;
    color: white;
}


/* ENCABEZADO */

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 7%;
    border-bottom: 1px solid #333;
}

.logo {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d00018;
    border: 2px solid white;
    border-radius: 50%;
}


/* PARTE PRINCIPAL */

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 80px 10%;
    min-height: 600px;
    background-color: #0d0d0d;
}

.texto {
    max-width: 650px;
}

h1 {
    font-size: 70px;
    margin: 15px 0;
}

h1 span {
    color: #d00018;
}

h2 {
    margin-bottom: 20px;
}

.texto p {
    font-size: 16px;
}


/* BOTONES */

.botones {
    margin-top: 30px;
}

.boton {
    display: inline-block;
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 7px;
    font-weight: bold;
}

.rojo {
    background-color: #d00018;
}

.negro {
    background-color: #171717;
    border: 1px solid #444;
}


/* TARJETA */

.tarjeta {
    width: 400px;
    padding: 30px;
    text-align: center;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 15px;
}

.circulo {
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d00018;
    border: 7px solid white;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}


/* INFORMACIÓN */

.info {
    max-width: 800px;
    margin: auto;
    padding: 80px 20px;
    text-align: center;
}






/* PIE DE PÁGINA */

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 7%;
    border-top: 1px solid #333;
    background-color: #050505;
}


/* CELULAR */

@media (max-width: 700px) {

    .inicio {
        flex-direction: column;
        text-align: center;
    }

    .tarjeta {
        width: 100%;
        max-width: 400px;
    }

    h1 {
        font-size: 50px;
    }

    .boton {
        display: block;
        margin: 10px 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}